@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

#navi{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header{
    margin: 1rem;

}

.nav{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav li {
    margin: auto 0;
    list-style-type: none;
}

#search input{
    width: 20vw;
    padding: 0.5rem 1rem;
    border-radius: 0.7rem;
    transition: 0.5s cubic-bezier(.29,.62,0,1.04);
}

#search input:focus{
    border:none;
    width: 22vw;

}
.search-bar{
    padding: 20px;
    background-color:rgba(185,185,194,1);
    display: none;
    z-index: 2;
    border: 1px solid black;

}
.search-bar:nth-child(2n){
    background-color: #e0e0e0;
}
.search-bar:nth-child(1){
    display: block;
}
.search-bar:nth-child(2){
    display: block;
}
.search-bar:nth-child(3){
    display: block;
}
.search-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
.search-bar h3{
    display: inline-block;
    float: right;
    text-align: right;
    font-size: 1rem;
}
.search-bar h6{
    display: inline-block;
    float: right;
    text-align: right;
}

.search-bar img{
    width: 50px;
}

#search-div{
    position: absolute;
}
.genres{
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    background-color: black;
    border-radius: 1rem;
    color: white;
}